<p id="notice"><%= notice %></p>

<h1>Completed Manuals</h1>

<table>
  <thead>
    <tr>
      <th>Manual</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @completed_manuals.each do |completed_manual| %>
      <tr>
        <td><%= completed_manual.manual %></td>
        <td><%= completed_manual.user %></td>
        <td><%= link_to 'Show', completed_manual %></td>
        <td><%= link_to 'Edit', edit_completed_manual_path(completed_manual) %></td>
        <td><%= link_to 'Destroy', completed_manual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Completed Manual', new_completed_manual_path %>
