<%= form_with(model: completed_step, local: true) do |form| %>
  <% if completed_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(completed_step.errors.count, "error") %> prohibited this completed_step from being saved:</h2>

      <ul>
      <% completed_step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :completed_manual_id %>
    <%= form.text_field :completed_manual_id, id: :completed_step_completed_manual_id %>
  </div>

  <div class="field">
    <%= form.label :step_id %>
    <%= form.text_field :step_id, id: :completed_step_step_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :completed_step_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
