<div class="row">
  <div class="col-md-3 col-sm-12">
    <h1>ID: <%= @user.id %></h1>
    <p>Name: <%= @user.name %></p>
    <p>About: <%= @user.about %></p>
    <p>Interests: <%= @user.interests %></p>
    <% if can? :update, @user %>
        <p><a href="<%= edit_user_path(@user.id) %>" class="btn btn-primary" role="button">Edit Profile</a></p>
    <% end %>
  </div>
  <div class="col-md-9 col-sm-12">
    <p>TODO: Show user's posts here</p>
  </div>
</div>
