<script>
  $(function () {
    $('.js-user-profile-switch').click(function() {
      $('.profile-content').hide();
      $('.nav li').removeClass("active");
      $(this.parentNode).addClass("active");
      var target = '#' + $(this).data('target');
      $(target).show();
    });
  });
</script>

<div class="col-md-12">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <div class="profile-userpic">
          <%= image_tag @user.gravatar_url, class: "img-responsive" %>
        </div>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <%= @user.name %>
          </div>
          <div class="profile-usertitle-job">
            <%= @user.email %>
          </div>
        </div>
        <div class="profile-userbuttons">
          <%= render 'users/edit_buttons', user: @user %>
        </div>
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a class="js-user-profile-switch" id="1" data-target="profile" href="#">
                <i class="glyphicon glyphicon-home"></i>
                <%= t('activerecord.attributes.user.profile') %> </a>
            </li>
            <li>
              <a class="js-user-profile-switch" id="2" data-target="manuals" href="#">
                <i class="glyphicon glyphicon-th-large"></i>
                <%= t('activerecord.models.manual.other') %> <span class='badge badge-default badge-pill pull-right'><%= @user.manuals_count %></span></a>
            </li>
            <li>
              <a class="js-user-profile-switch" id="3" data-target="comments" href="#">
                <i class="glyphicon glyphicon-comment"></i>
                <%= t('activerecord.models.comment.many') %> <span class='badge badge-default badge-pill pull-right'><%= @user.comments_count %></span></a>
            </li>
            <%= render 'users/completed_manuals_title', completed_manuals_size: @completed_manuals.size if current_user == @user %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div id="profile" class="profile-content" style="display: block;">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= t('activerecord.attributes.user.about') %>
          </div>
          <div class="panel-body">
            <%= @user.about %>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <%= t('activerecord.attributes.user.interests') %>
          </div>
          <div class="panel-body">
            <%= @user.interests %>
          </div>
        </div>
      </div>

      <div id="manuals" class="profile-content" style="display: none;">
        <%= render @manuals %>
      </div>

      <div id="comments" class="profile-content" style="display: none;">
        <%= render @comments %>
      </div>

      <%= render 'users/completed_manuals_content', completed_manuals: @completed_manuals %>
    </div>
  </div>
</div>
