<small class="pull-right"><span class="glyphicon glyphicon-pencil"></span> <%= t('activerecord.attributes.manual.metadata.updated') %> <%= l(manual.updated_at) %></small>
<hr>

<p><span class="glyphicon glyphicon-ok"></span> <%= t('activerecord.controllers.manual.show.completed', current: manual.user_completed_manual(current_user).completed_steps.count, total: manual.steps.size) if current_user.present? %></p>
<p><span class="glyphicon glyphicon-time"></span> <%= t('activerecord.attributes.manual.metadata.created_at') %>: <%= l(manual.created_at) %></p>
<p><span class="glyphicon glyphicon-user"></span> <%= t('activerecord.attributes.manual.metadata.author') %>: <%= link_to manual.user.get_name, user_path(manual.user) %></p>
<p><span class="glyphicon glyphicon-check"></span> <%= t('activerecord.models.category.one') %>: <%= link_to manual.category.name, category_path(manual.category) %></p>
