<div class="error-template">
  <h1><%= t('errors.oops') %></h1>
  <h2><%= t('errors.not_found.message') %></h2>
  <div class="error-details">
    <%= t('errors.category.not_found') %>
  </div>
  <div class="error-actions">
    <%= link_to root_path, class: "btn btn-primary btn-lg" do %>
      <%= t('errors.category.main_path') %> <span class="glyphicon glyphicon-home"></span>
    <% end %>
  </div>
</div>
