<%- model_class = Manual -%>
<h1 class="page-header">
  <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
  <small></small>
</h1>

<% @manuals.each do |manual| %>
  <h2>
    <%= link_to manual.name, manual_path(manual) %>
  </h2>
  <p class="lead">by <%= link_to manual.user.name, user_path(manual.user) %></p>


  <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_manual_path(manual), :class => 'btn btn-default btn-xs' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              manual_path(manual),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-xs btn-danger' %>

  <p><span class="glyphicon glyphicon-time"></span> Posted on <%=l manual.created_at %></p>

  <hr>
  <%= link_to image_tag(manual.preview, :class => "img-responsive"), manual_path(manual) %>
  <%= link_to 'Read', manual_path(manual), {class: 'btn btn-primary'} %>

  <hr>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_manual_path,
            :class => 'btn btn-primary' %>

<!-- Pager -->
<ul class="pager">
  <li class="previous">
    <a href="#">&larr; Older</a>
  </li>
  <li class="next">
    <a href="#">Newer &rarr;</a>
  </li>
</ul>
