<style>
  .css1 { font-size: 1.0em; }
  .css2 { font-size: 1.2em; }
  .css3 { font-size: 1.4em; }
  .css4 { font-size: 1.6em; }
</style>

<h1 class="page-header">
  <%= @title %>
  <% if can? :create, Manual %>
    <small>
      <%= link_to t('.new', :default => t("helpers.links.new")), new_manual_path, :class => 'btn btn-primary pull-right' %>
    </small>
  <% end %>
</h1>

<!-- Blog Categories Well -->
<div class="well">
  <h3><span class="glyphicon glyphicon-tags"></span> Top 30 Tags</h3>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
          <%= link_to "##{tag.name}", { :controller => "manuals", :action => "index", tag: tag.name }, :class => css_class %>
      <% end %>
    </div>
    <!-- /.col-lg-6 -->
  </div>
  <!-- /.row -->
</div>

<div class="infinite-table">
  <table>
    <%= render :partial => 'manuals', :object => @manuals %>
    <%= render :partial => 'manuals/not_found'  if @manuals.empty? %>
  </table>
  <div class="text-center">
    <p class="pagination">
      <%= link_to_next_page(@manuals, 'More', :remote => true, :class => "btn btn-primary btn-block") %>
    </p>
  </div>
</div>
