<!-- Blog Post Content Column -->
<div>
  <!-- Blog Post -->

  <!-- Title -->
  <h1><%= @manual.name %>
    <small class="pull-right">
      <%= render 'manuals/edit_buttons', manual: @manual%>
    </small></h1>

  <hr>

  <p><span class="glyphicon glyphicon-time"></span> Posted on <%= local_time(@manual.created_at) %></p>
  <p><span class="glyphicon glyphicon-user"></span> Author: <%= link_to @manual.user.name, user_path(@manual.user) %></p>
  <p><span class="glyphicon glyphicon-check"></span> Category: <%= link_to @manual.category.name, category_path(@manual.category) %></p>
  <p><span class="glyphicon glyphicon-tags"></span> Tags: <%= render 'layouts/tags', tags: @manual.tags %></p>

  <hr>
    <%= image_tag(@manual.preview, :class => "img-responsive center-block") %>

  <hr>
  <% @steps.each do |step| %>
      <h4><%= link_to "Step #{step.priority}: #{step.name}", { :controller => "steps", :action => "show",
                                                               :manual_id => @manual.id, :id => step.priority }, :class => "text-center" %></h4>
      <hr>
  <% end %>

  <small class="pull-left"><span class="glyphicon glyphicon-pencil"></span> Updated <%= local_time_ago(@manual.updated_at) %></small>
<br>
  <%= rating_for @manual, 'rating' %>
  <!-- Posted Comments -->

  <hr>
  <h3>Comments</h3>
  <hr>
  <div id="comments" data-id="<%= @manual.id %>">
    <%= render partial: @manual.comments %>
  </div>
  <hr>
  <%= render partial: "comments/form", locals: { manual: @manual, comment: @comment } %>
</div>
