<% content_for(:title) do %>
  <%= t('main.title.manual', manual_title: @manual.name) %>
<% end %>

<div class="col-md-12">
  <h1>
    <%= render 'manuals/completed_tick' if manual_completed?(@manual, current_user) %>
    <%= @manual.name %>
    <small class="pull-right">
      <%= render 'manuals/edit_buttons', manual: @manual%>
    </small>
  </h1>

  <%= render 'manuals/metadata', manual: @manual %>

  <hr>
  <%= image_tag(@manual.preview || default_preview, :class => "img-responsive center-block") %>
  <hr>

  <%- @steps.each do |step| %>
    <%= render step %>
    <hr>
  <%- end %>

  <%= render 'manuals/tags', tags: @manual.tags %>

  <span class="pull-right"><%= rating_for @manual, 'rating', star_path: '/images' %></span>
  <div class="clearfix"></div>

  <hr>
  <h2 id='js-comments-title'><%= t('activerecord.models.comment', count: @comments.count) %></h2>
  <hr>

  <div id="comments" data-id="<%= @manual.id %>">
    <%= render @comments %>
  </div>
  <br>
  <%= render partial: "comments/form", locals: { manual: @manual, comment: @comment } %>
</div>
