<!-- Blog Post Content Column -->
<div class="col-md-12">
  <!-- Blog Post -->

  <!-- Title -->
  <h1>
    <%= @manual.name %>
    <small class="pull-right">
      <%= render 'manuals/edit_buttons', manual: @manual%>
    </small>
  </h1>

  <%= render 'manuals/metadata', manual: @manual %>

  <hr>
    <%= image_tag(@manual.preview, :class => "img-responsive center-block") %>

  <hr>
  <% @steps.each do |step| %>
      <h4><%= link_to "Step #{step.priority}: #{step.name}", { :controller => "steps", :action => "show",
                                                               :manual_id => @manual.id, :id => step.priority }, :class => "text-center" %></h4>
      <hr>
  <% end %>


  <span class="pull-left"><span class="glyphicon glyphicon-tags"></span> Tags: <%= render 'layouts/tags', tags: @manual.tags %></span>
  <span class="pull-right"><%= rating_for @manual, 'rating' %></span>
  <div class="clearfix"></div>
  <!-- Posted Comments -->

  <hr>
  <h2>Comments</h2>
  <hr>
  <div id="comments" data-id="<%= @manual.id %>">
    <%= render partial: @manual.comments %>
  </div>
  <hr>
  <%= render partial: "comments/form", locals: { manual: @manual, comment: @comment } %>
</div>
