<!-- Blog Post Content Column -->
<div>
  <!-- Blog Post -->

  <!-- Title -->
  <h1><%= link_to @step.manual.name, manual_path(@step.manual), :class => 'col-xs' %>
    <small class="pull-right">
      <%= link_to edit_manual_path(@step.manual), :class => 'btn btn-primary' do %><span class="glyphicon glyphicon-pencil"></span><% end %>
      <%= link_to manual_path(@step.manual),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' do %><span class="glyphicon glyphicon-trash"></span><% end %>
    </small></h1>

  <hr>

  <p><span class="glyphicon glyphicon-time"></span> Posted on <%= local_time(@step.manual.created_at) %></p>
  <p><span class="glyphicon glyphicon-user"></span> Author: <%= link_to @step.manual.user.name, user_path(@step.manual.user) %></p>
  <p><span class="glyphicon glyphicon-check"></span> Category: <%= link_to @step.manual.category.name, category_path(@step.manual.category) %></p>

  <hr>

  <!-- Post Content -->

  <h2>Step <%= @step.priority %>: <%= @step.name %></h2>
  <hr>
  <% @blocks.each do |block| %>
    <% case block.type
       when 'Text' %><%= render 'layouts/markdown', content: block.content %>
      <% when 'Image' %><%= render 'layouts/image', src: block.content %>
      <% when 'Video' %><%= render 'layouts/video', src: block.content %>
    <% end %>
    <br>
  <% end %>

  <hr>
  <!-- Pager -->
  <ul class="pager">
    <li class="previous">
      <%= link_to('← Previous', :controller => 'steps', :action => 'show', :manual_id => @step.manual.id, :id => previous_step.priority) if previous_step.present? %>
    </li>
    <li class="next">
      <%= link_to('Next →', :controller => 'steps', :action => 'show', :manual_id => @step.manual.id, :id => next_step.priority) if next_step.present? %>
    </li>
  </ul>

</div>

