<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : t('main.name') %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag '/favicon.ico' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.4/angular-resource.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to t('main.name'), root_path, class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <%= render 'layouts/profile', user: current_user %>
          <%= render 'layouts/language' %>
          <%= render 'layouts/search' %>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= bootstrap_flash %>
      <%= yield %>
      <%= yield(:side_bar) %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
